@model COURSE_CODING.Models.UserProfileModel

@{
    ViewBag.Title = String.Format("{0} {1} - {2}", Model.Info.FirstName, Model.Info.LastName, Model.Info.UserName);
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

@section CustomCSS
{
    <link rel="stylesheet" href="~/Assets/Public/css/profile.css" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
}

@{
    var session = (COURSE_CODING.Common.InfoLogIn)Session[CommonProject.CommonConstant.SESSION_INFO_LOGIN];
}

<div class="content">
    <div class="container profile-layout">
        <div class="profile-sidebar">
            <div role="button" class="profile-sumary">
                <div class="profile-avatar" id="pf-avatar">
                    @if (Model.Info.PhotoURL != null)
                    {
                        <img src="~/Assets/Public/images/profile_photos/@Model.Info.PhotoURL" alt="Photo is not found!" />
                        <div class="avatar-overlay">
                            <i class="far fa-edit"></i>
                        </div>
                    }
                    else
                    {
                        <img src="http://www.iconninja.com/files/155/832/15/business-human-seo-person-user-account-profile-icon.svg" alt="Photo is not found!" />
                        <div class="avatar-overlay">
                            <i class="far fa-edit"></i>
                        </div>
                    }
                </div>
            </div>
            <h1 class="profile-heading">@Model.Info.FirstName @Model.Info.LastName</h1>
            <p class=" profile-username-heading">
                @@@Model.Info.UserName
            </p>
            <p class="profile-country">
                <span>@Model.Info.Country</span>
            </p>
            <ul class="profile-social-list">
                <li>
                    <a href="#" class="social-link">
                        <span class="fab fa-facebook"></span>
                    </a>
                </li>
            </ul>
            @if (Model.Info.ID == session.ID)
            {
                <button class="btn-link" id="intro-edit">
                    <div>
                        <i class="fas fa-pen">

                        </i>Edit Intro
                    </div>
                </button>
            }
            <hr>
            <div class="profile-detail">
                <h2>About</h2>
                @if (Model.Info.ID == session.ID)
                {
                    <div class="profile-detail-edit">
                        <button class="btn-link" id="about-edit">
                            <i class="fas fa-pen"></i>
                        </button>
                    </div>
                }
                @if (Model.School != null)
                {
                    <div class="profile-detail-extra">
                        <div>
                            <p class="extra-title">Education</p>
                            <p style="font-weight: 700;">@Model.School.Name</p>
                        </div>
                    </div>
                }
                @if (Model.Info.YearGraduation != null)
                {
                    <div class="profile-detail-extra">
                        <div>
                            <p class="extra-title">Expected year of Graduation</p>
                            @if (Model.Info.YearGraduation == 0)
                            {
                                <p style="font-weight: 700;">I am still in High School</p>
                            }
                            else
                            {
                                <p style="font-weight: 700;">@Model.Info.YearGraduation</p>
                            }
                        </div>
                    </div>
                }
                @if (Model.Info.About != null)
                {
                    <div class="profile-detail-extra">
                        <div class="extra-title">
                            <p>More about me</p>
                            <p style="font-size: .8em">@Model.Info.About</p>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="profile-rightpanel">
            <section class="badges-section">
                <h2>Badges</h2>
                <ul class="badge-list">
                    <li>
                        <span class="badge-title">
                            <img class="badge-img" src="~/Assets/Public/images/problem-solving-ecaf59a612.svg" alt="problem solving">
                            C++ Language
                        </span>
                        <div class="badge-progress">
                            <p class="badge-level">
                                Bronze level
                                @*<i class="fas fa-star"></i>*@
                            </p>
                            <span class="badge-exp"><span class="exp-value">0</span>/100 pts</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <a href="/Domain/Index/Cpp" class="challenge-link btn btn-lg btn-success">Solve Challenge</a>
                    </li>
                    <li>
                        <span class="badge-title">
                            <img class="badge-img" src="~/Assets/Public/images/problem-solving-ecaf59a612.svg" alt="problem solving">
                            C# Language
                        </span>
                        <div class="badge-progress">
                            <p class="badge-level">
                                Bronze level
                                @*<i class="fas fa-star"></i>*@
                            </p>
                            <span class="badge-exp"><span class="exp-value">0</span>/100 pts</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <a href="/Domain/Index/CSharp" class="challenge-link btn btn-lg btn-success">Solve Challenge</a>
                    </li>
                    <li>
                        <span class="badge-title">
                            <img class="badge-img" src="~/Assets/Public/images/problem-solving-ecaf59a612.svg" alt="problem solving">
                            Java Language
                        </span>
                        <div class="badge-progress">
                            <p class="badge-level">
                                Bronze level
                                @*<i class="fas fa-star"></i>*@
                            </p>
                            <span class="badge-exp"><span class="exp-value">0</span>/100 pts</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <a href="/Domain/Index/Java" class="challenge-link btn btn-lg btn-success">Solve Challenge</a>
                    </li>
                </ul>
            </section>
            <section class="section-card">
                <div class="submision-section">
                    <div class="section-title">
                        <i class="far fa-clipboard"></i>

                        Submisions
                    </div>
                    <div class="section-body">
                        @if (Model.Challenges.Count > 0)
                        {
                            foreach (var challenge in Model.Challenges)
                            {
                                <div class="submision-list">
                                    <a href="/Challenge/Problem/@challenge.challenge.ID" class="history-item">@challenge.challenge.Title</a>
                                    <span class="time-ago">
                                        -
                                        <span class="time-ago-value">@challenge.timeDone</span>
                                    </span>
                                </div>
                            }
                        }
                    </div>
                </div>
            </section>
            <section class="section-card">
                <div class="contest-section">
                    <div class="section-title">
                        <i class="fas fa-history"></i>

                        Contest History
                    </div>
                    <div class="section-body">
                        <div class="contest-list">
                            <h2 class="contest-month">July,2014</h2>
                            @if (Model.Competes.Count > 0)
                            {
                                foreach (var compete in Model.Competes)
                                {
                                    <div class="contest-item">
                                        <a href="/Compete/Detail/@compete.ID" >@compete.Title</a>
                                        <span class="participant-count">
                                            --
                                            /
                                            <span class="participant-count-value"> 102 participants</span>
                                        </span>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
              </section>
        </div>
    </div>
</div>

<!--Popup Window-->
<div class="popup" id="img-popup">
    <div class="popup-modal">
        <div class="popup-content img-popup">
            <div class="content-header">
                <h1>Upload</h1>
                <button class="close" id="img-close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <hr>
            <div class="content-body">
                @using (Html.BeginForm("Upload", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(model => model.Info.ID)
                    <div style="text-align: center !important">
                        @Html.TextBox("file", "", new { @type = "file", @accept = "image/*" })
                        <p>Max files/folder size: 500MB</p>
                        <button class="btn btn-primary" id="btn-img" type="submit">
                            <span>Upload File</span>
                        </button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<div class="popup" id="intro-popup">
    <div class="popup-modal">
        <div class="popup-content intro-popup">
            <div class="content-header">
                <h1>Edit Intro</h1>
                <button class="close" id="intro-close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <hr>
            <div class="content-body">
                @using (Html.BeginForm("EditIntro", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.Info.ID)

                    <div class="input input-required">
                        @Html.LabelFor(model => model.FirstName)
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="input input-required">
                        @Html.LabelFor(model => model.LastName)
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="input input-required">
                        @Html.LabelFor(model => model.Country)
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                    </div>
                    <p>Link your social Websites</p>
                    <div class="input-btn">
                        <button class="btn btn-primary">Connect Facebook</button>
                        <button class="btn btn-primary">Connect Google</button>
                    </div>

                    <div class="footer-btn">
                        <button class="btn btn-secondary" type="button" id="cancelbtn_1">Cancel</button>
                        <button class="btn btn-success" type="submit" id="intro_submit">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="popup" id="about-popup">
    <div class="popup-modal">
        <div class="popup-content about-popup">
            <div class="content-header">
                <h1>Edit Details</h1>
                <button class="close" id="about-close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <hr>
            <div class="content-body">
                @using (Html.BeginForm("EditAbout", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(model => model.Info.ID)

                    <div class="input">
                        @Html.LabelFor(model => model.Info.About, "About Me")
                        @Html.TextAreaFor(model => model.Info.About, new { @class = "form-control", @rows = "6" })
                    </div>
                    <div class="input input-required">
                        <label for="input-year">Expected year of Graduation</label>
                        @Html.DropDownListFor(model => model.Info.YearGraduation, (IEnumerable<SelectListItem>)ViewBag.Year, "Year", new { @class = "form-control" })
                    </div>
                    <div class="input input-required">
                        <label for="input-education">Education</label>
                        @Html.DropDownListFor(model => model.Info.SchoolID, new SelectList(ViewBag.School, "Value", "Text"), "Education", new { @class = "form-control school-dropdown" })

                    </div>

                    <div class="footer-btn">
                        <button class="btn btn-secondary" type="button" id="cancelbtn_2">Cancel</button>
                        <button class="btn btn-success" type="submit" id="about_submit">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Assets/Public/js/profile.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}


