@model COURSE_CODING.Models.CompeteModel

@{
    ViewBag.Title = "Compete";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}
@section CustomCSS
{
    @Styles.Render("~/Assets/Public/css/user-contest.css")
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
}

<section class="header-page">
    <div class="container">
        <div class="row">
            <div class="col-6 domain-header">
                <p class="sub-contest-title">All Competitions</p>
                <h3 class="contest-title">Competition</h3>
            </div>

            <div class="col-6">

            </div>
        </div>
    </div>
</section>
<section class="content-page">
    <div class="container">
        <div class="row">
            <!--Contest list-->
            <div class="col-9 challenge-list">
                @if (Model.competes.Count > 0)
                {
                    <div class="joined-list" id="joined-list">
                        @foreach (var item in Model.competes)
                        {
                            <!--1 Contest-->
                            <div class="one-contest-box">
                                <div class="row">
                                    <div class="col-md-4 contest-info">
                                        <h3 class="card-title" title="Regex">@Html.DisplayFor(modelItem => item.Title)</h3>
                                    </div>
                                    <div class="col-md-2 contest-status">
                                        <h6 class="card-title" title="Regex"><i class="fas fa-check" style="color: lawngreen;"></i> Joined</h6>
                                    </div>
                                    <div class="col-md-6 contest-enter">
                                        <span><strong class="time-happen">@item.TimeEnd.ToString()</strong><i class="contest-status">@(item.TimeEnd > DateTime.Now ? "Open" : "Close")</i></span>
                                        @*<a href="" class="btn btn-outline-success">Do Contest</a>*@
                                        <button class="btn btn-outline-success" tabindex="0" onclick="location.href='/Compete/@item.ID/Detail'">
                                            <span class="ui-text">Do Contest</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="contest-description" style="display: none;">
                                    <hr>
                                    <h5><strong>Description</strong></h5>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </p>
                                </div>
                            </div>

                        }
                    </div>
                }
                @if (Model.PublicCompetes.Count > 0)
                {
                    <div class="unjoined-list" id="unjoined-list">
                        @foreach (var item in Model.PublicCompetes)
                        {
                            <!--1 Contest-->
                            <div class="one-contest-box">
                                <div class="row">
                                    <div class="col-md-4 contest-info">
                                        <h3 class="card-title" title="Regex">@Html.DisplayFor(modelItem => item.Title)</h3>
                                    </div>
                                    <div class="col-md-2 contest-status">
                                        <h6 class="card-title" title="Regex">Unjoined</h6>
                                    </div>
                                    <div class="col-md-6 contest-enter">
                                        <span><strong class="time-happen">@(((DateTime)item.TimeEnd).ToString("dd/MM/yyyy"))</strong><i class="contest-status">@(item.TimeEnd > DateTime.Now ? "Open" : "Close")</i></span>
                                        @*<a href="" class="btn btn-outline-success">Enter Contest</a>*@
                                        <button class="btn btn-outline-success" tabindex="0" onclick="EnterContestBtn(event, @item.ID)">
                                            <span class="ui-text">Enter Competition</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="contest-description" style="display: none;">
                                    <hr>
                                    <h5><strong>Description</strong></h5>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </p>
                                </div>
                            </div>

                        }
                    </div>
                }
            </div>

            <!--filter-->
            <div class="col-3 contest-filter">
                <div class="one-filter">
                    <h6 class="label">STATUS</h6>
                    <!-- Default indeterminate -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="status_unjoined" name="status" checked>
                        <label class="custom-control-label" for="status_unjoined">Unjoined</label>
                    </div>
                    <!-- Default indeterminate -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="status_joined" name="status" checked>
                        <label class="custom-control-label" for="status_joined">Joined</label>
                    </div>
                </div>
                <hr>

                @*<div class="one-filter">
                    <h6 class="label">DIFFICULTY</h6>
                    <!-- Default indeterminate -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="difficult_easy" checked>
                        <label class="custom-control-label" for="difficult_easy">Easy</label>
                    </div>
                    <!-- Default indeterminate -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="difficult_normal">
                        <label class="custom-control-label" for="difficult_normal">Normal</label>
                    </div>
                    <!-- Default indeterminate -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="difficult_hard">
                        <label class="custom-control-label" for="difficult_hard">hard</label>
                    </div>
                </div>
                <hr>

                <div class="one-filter">
                    <h6 class="label">LANGUAGE</h6>
                    @if (true)
                    {
                        foreach (var item in Model.languages)
                        {
                            <!-- Default indeterminate -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label" for="language_@Html.DisplayFor(modelItem => item.Name)">@Html.DisplayFor(modelItem => item.Name)</label>
                            </div>
                        }
                    }

                </div>*@

            </div>
        </div>
    </div>
</section>

@*Custome JS*@
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".one-contest-box").click(function () {
                $(this).children(".contest-description").slideToggle("slow");
            });

            $("#status_unjoined").change(function () {
                $('#unjoined-list').fadeToggle();
            });
            $("#status_joined").change(function () {
                $('#joined-list').fadeToggle();
            });
        });

        function EnterContestBtn(e, id) {
            //e.preventDefault();
            $.ajax({
                    method: "POST",
                    url: "/Compete/EnterPublicContest",
                    data: {
                        id: id
                    }
                })
                    .done(function (msg) {
                        if (msg) {
                            console.log(msg);
                            if (msg.result) {
                                window.location.href = '/Compete/'+ id +'/Detail';
                            }
                        }
                    });
        }
    </script>

}

