
@{
    ViewBag.Title = "Score report";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

@if (ViewBag.CanAccess == false)
{
    <div style="text-align: center;margin: 0 auto; padding: 30px;">
        <h2>You don't have permission to view this page</h2>
        <h2>405!</h2>
    </div>
    return;
}

@section CustomCSS
{
    @Styles.Render("~/Assets/Public/css/score.css")
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
}

<section class="header-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 domain-header">
                <p class="sub-contest-title">Compete Score Report</p>
                <h3 class="contest-title">@ViewBag.Name</h3>
            </div>

            <div class="col-md-6">

            </div>
        </div>
    </div>
</section>
<section class="content-page">
    <div class="container">
        <div class="row">
            <!--Contest list-->
            <div class="col-md-9 user-list-score">
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <!--1 user-->
                        <div class="one-user-box">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 user-info">
                                    <img class="profile-img" src="@item.PhotoUrl" alt="" />
                                    <span class="card-title">@item.Name</span>
                                </div>

                                <div class="col-xs-6 col-md-6 total-score">
                                    <span><strong>Total Score: </strong><i class="score">@(item.ScoreQuestion + item.ScoreChallenge)/@item.TotalScore</i></span>
                                </div>
                            </div>
                            <div class="user-score" style="display: none;">
                                <hr>
                                <h5><strong>Submission info</strong></h5>
                                <div class="row score-info">
                                    <div class="col-md-6">
                                        <span class="info-title">Questions: </span><span class="Numbber"><span class="quantity">@item.QuestionDone</span>/<span class="max">@item.QuestionNumber</span></span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="info-title">Questions score: </span><span class="score">@item.ScoreQuestion</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="info-title">Challenges: </span><span class="Numbber"><span class="quantity">@item.ChallengeDone</span>/<span class="max">@item.ChallengeNumber</span></span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="info-title">Challenges score: </span><span class="score">@item.ScoreChallenge</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>

            <!--filter-->
            <div class="col-md-3 compete-info" id="affix-panel" data-toggle="affix">
                <div class="sidebar-difficulty-detail">
                    <div class="difficulty-block">
                        <p class="difficulty-label">Author</p>
                        <a href="#">@ViewBag.Author</a>
                    </div>
                    <div class="difficulty-block">
                        <p class="difficulty-label">Title</p>
                        <p class="difficulty-score">@ViewBag.Name</p>
                    </div>
                    <div class="difficulty-block">
                        <p class="difficulty-label">Time end</p>
                        <p class="difficulty-score">@ViewBag.TimeEnd</p>
                    </div>
                </div>
                <div class="sidebar-difficulty-move-btn">
                    <a class="btn" href="/Compete/Detail/@ViewBag.competeID">Compete Detail</a>
                    <a class="btn" href="#">Edit Compete</a>
                </div>
                @*<div class="one-filter">
            <h6 class="label">STATUS</h6>
            <!-- Default indeterminate -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="status_unjoined" name="status" checked>
                <label class="custom-control-label" for="status_unjoined">Unjoined</label>
            </div>
            <!-- Default indeterminate -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="status_joined" name="status" checked>
                <label class="custom-control-label" for="status_joined">Joined</label>
            </div>
        </div>
        <hr>*@

                @*<div class="one-filter">
            <h6 class="label">DIFFICULTY</h6>
            <!-- Default indeterminate -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="difficult_easy" checked>
                <label class="custom-control-label" for="difficult_easy">Easy</label>
            </div>
            <!-- Default indeterminate -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="difficult_normal">
                <label class="custom-control-label" for="difficult_normal">Normal</label>
            </div>
            <!-- Default indeterminate -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="difficult_hard">
                <label class="custom-control-label" for="difficult_hard">hard</label>
            </div>
        </div>
        <hr>

        <div class="one-filter">
            <h6 class="label">LANGUAGE</h6>
            @if (true)
            {
                foreach (var item in Model.languages)
                {
                    <!-- Default indeterminate -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="language_@Html.DisplayFor(modelItem => item.Name)">@Html.DisplayFor(modelItem => item.Name)</label>
                    </div>
                }
            }

        </div>*@

            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".one-user-box").click(function () {
                $(this).children(".user-score").slideToggle("slow");
            });
        });

        var target = $('#affix-panel')
        target.after('<div class="affix" id="affix"></div>')

        var affix = $('.affix')
        affix.append(target.clone(true))

        // Show affix on scroll.
        var element = document.getElementById('affix')
        if (element !== null) {
            var position = target.position()
            window.addEventListener('scroll', function () {
                var height = $(window).scrollTop()
                if (height > position.top) {
                    target.css('visibility', 'hidden')
                    affix.css('display', 'block')
                } else {
                    affix.css('display', 'none')
                    target.css('visibility', 'visible')
                }
            })
        }
    </script>
}