@using COURSE_CODING.Models
@model COURSE_CODING.Models.EditLanguagesModel

@{
    ViewBag.Title = "Edit Challenge";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

@if (ViewBag.CanAccess == false)
{
    <div style="text-align: center;margin: 0 auto; padding: 30px;">
        <h2>You don't have permission to view this page</h2>
        <h2>405!</h2>
    </div>
    return;
}

@section CustomCSS
{
    @Styles.Render("~/Assets/Public/css/EditChallenge.css")
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<section class="content-page edit-challenge">
    <div class="container">
        <h1 class="title">@ViewBag.Name</h1>
        <nav class="navbar navbar-light bg-light">
            <ul class="nav nav-tabs tabs-bar" style="margin-bottom: 0;">
                <li class="nav-item">
                    <a id="js-details" class="nav-link" href="/Moderator/Edit/Challenge/@Model.ID">Details</a>
                </li>
                <li class="nav-item"><a id="js-moderators" class="nav-link" href="/Moderator/Edit/Challenge/@Model.ID/Moderator">Moderators</a></li>
                <li class="nav-item"><a id="js-test-cases" class="nav-link" href="/Moderator/Edit/Challenge/@Model.ID/Testcase">Test cases</a></li>
                <li class="nav-item"><a id="js-code-stubs" class="nav-link" href="/Moderator/Edit/Challenge/@Model.ID/Codestubs">Code stubs</a></li>
                <li class="nav-item"><a id="js-languages" class="nav-link active" href="/Moderator/Edit/Challenge/@Model.ID/Languages">Languages</a></li>
                <li class="nav-item"><a id="js-settings" class="nav-link" href="/Moderator/Edit/Challenge/@Model.ID/Settings">Settings</a></li>
            </ul>
        </nav>

        <div class="languages-modal main-modal" id="div-languages-modal">
            <div class="clearfix">
                <p>Select the enviroment for available languages and libraries.</p>
            </div>
            @using (Ajax.BeginForm("UpdateLanguages", "Challenge", new AjaxOptions()
            {
                HttpMethod = "POST",
                OnSuccess = "OnSuccess",
                OnFailure = "OnFailure"
            }, new { @class = "form-horizontal" }))
            {
                @Html.Hidden("ID", Model.ID)
                <table class="table">
                    <thead>
                        <tr>
                            <th>Language</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>C#</td>
                            <td>@Html.CheckBoxFor(model => model.LanguageCSharp, new { @id = "language_csharp_checkbox" })@*<input type="checkbox" id="language_csharp_checkbox" value="">*@</td>
                        </tr>
                        <tr>
                            <td>C++</td>
                            <td>@Html.CheckBoxFor(model => model.LanguageCpp, new { @id = "language_cpp_checkbox" })@*<input type="checkbox" id="language_cpp_checkbox" value="">*@</td>
                        </tr>
                        <tr>
                            <td>Java</td>
                            <td>@Html.CheckBoxFor(model => model.LanguageJava, new { @id = "language_java_checkbox" })@*<input type="checkbox" id="language_java_checkbox" value="">*@</td>
                        </tr>
                    </tbody>
                </table>
                <div class="save-change-btn-group">
                    <button class="btn btn-success" id="js-save-changes-btn" type="submit">Save Changes</button>
                </div>
            }
        </div>
        <div style="height: 100px;">

        </div>
        @*<div class="save-change-btn-group">
                <button class="btn btn-success" id="js-save-changes-btn">Save Changes</button>
            </div>*@
    </div>
</section>

@section scripts
    {
    <script type="text/javascript">
        function OnSuccess(data) {
            alert('Save changes succeed');
        }
        
        function OnFailure(data) {
            alert('Save changes fail');
        }
    </script>
}