@model COURSE_CODING.Models.ChallengeModel

@{
    ViewBag.Title = "Problem";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}
@section CustomCSS
{
    @Styles.Render("~/Assets/Public/css/challenge.css")


    @*<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">*@

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
}

@if (ViewBag.CanAccess == false)
{
    <div style="text-align: center;margin: 0 auto; padding: 30px;">
        <h2>You don't have permission to view this page</h2>
        <h2>405!</h2>
    </div>
    return;
}

<div class="content">
    <!--Header Section-->
    <div class="header">
        <div class="container">

            <!--Breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @if (ViewBag.competeID != null)
                    {
                        <li class="breadcrumb-item">
                            <a href="/Compete/@ViewBag.competeID/Detail">Compete</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.challenge.Title
                        </li>
                    }
                    else
                    {
                        <li class="breadcrumb-item">
                            <a href="/User/Dashboard">Pactice</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.challenge.Title
                        </li>
                    }
                </ol>
            </nav>

            <!--Title-->
            <h1 class="header-title">
                @Model.challenge.Title
            </h1>

            <!--Account Detail-->
            @*<div class="header-progress">
                    <div class="account">
                        <div class="point-wrap">
                            <span class="point">10 more points</span>
                            to get your first star!
                        </div>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>

                        <div class="score-info">
                            <span class="current-rank">
                                Rank:
                                <span class="value">400166</span>
                            </span>
                            <span>|</span>
                            <span class="current-ponts">
                                Points:
                                <span class="value">0/10</span>
                            </span>
                            <a class="scoring-link" href="#">
                                <i class="fas fa-exclamation-circle"></i>
                            </a>
                        </div>
                    </div>

                    <div class="badge-wrap">
                        <div class="badge-icon">
                            <img src="~/Assets/Public/images/cpp-739b350881.svg" alt="badge-icon">
                            <span class="badge-title">cpp</span>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>

    <!--Body Section-->
    <div class="container">
        <div class="content-body">

            <!--Tab Bar-->
            <div class="tab-wrap">
                <nav class="navbar navbar-light">
                    <ul class="nav nav-tabs tabs-bar" style="margin-bottom: 0;">
                        <li class="nav-item active"><a id="js-problem" class="nav-link" href="#">Problem</a></li>
                        <li class="nav-item"><a id="js-discussion" class="nav-link" href=@(ViewBag.competeID == null ? "/Challenge/"+Model.challenge.ID+"/forum" : "/Compete/" + ViewBag.competeID + "/Challenge/"+Model.challenge.ID+"/forum")>Discussions</a></li>
                    </ul>
                </nav>
            </div>

            <!--Challenge Interface-->
            <div class="challenge-interface">
                <section class="problem-statement">
                    <div class="challenge-body">
                        <div class="problem-statement-body">
                            <div>
                                @Html.Raw(HttpUtility.HtmlDecode(Model.challenge.Description))
                            </div>
                        </div>
                        @if (Model.challenge.ProblemStatement != null && Model.challenge.ProblemStatement != "")
                        {
                            <div class="challenge-constraint">
                                <div class="challenge-constraint-title">
                                    <p><strong>Problem Statement</strong></p>
                                </div>
                                <div class="challenge-constraint-body">
                                    <div>
                                        @Html.Raw(HttpUtility.HtmlDecode(Model.challenge.ProblemStatement))
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.challenge.Constraints != null && Model.challenge.Constraints != "")
                        {
                            <div class="challenge-constraint">
                                <div class="challenge-constraint-title">
                                    <p><strong>Constraints</strong></p>
                                </div>
                                <div class="challenge-constraint-body">
                                    <div>
                                        @Html.Raw(HttpUtility.HtmlDecode(Model.challenge.Constraints))
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.challenge.InputFormat != null && Model.challenge.InputFormat != "")
                        {
                            <div class="challenge-input-format">
                                <div class="challenge-input-format-title">
                                    <p><strong>Input Format</strong></p>
                                </div>
                                <div class="challenge-input-format-body">
                                    <div>
                                        @Html.Raw(HttpUtility.HtmlDecode(Model.challenge.InputFormat))
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.challenge.OutputFormat != null && Model.challenge.OutputFormat != "")
                        {
                            <div class="challenge-output-format">
                                <div class="challenge-output-format-title">
                                    <p><strong>Output Format</strong></p>
                                </div>
                                <div class="challenge-output-format-body">
                                    <div>
                                        @Html.Raw(HttpUtility.HtmlDecode(Model.challenge.OutputFormat))
                                    </div>
                                </div>
                            </div>
                        }
                        @*<div class="challenge-sample-input">
            <div class="challenge-sample-input-title">
                <p><strong>Sample Input</strong></p>
            </div>
            <div class="challenge-sample-input-body">
                <pre><code>1 2 7</code></pre>
            </div>
        </div>

        <div class="challenge-sample-output">
            <div class="challenge-sample-output-title">
                <p><strong>Sample Output</strong></p>
            </div>
            <div class="challenge-sample-input-body">
                <pre><code>10</code></pre>
            </div>
        </div>

        <div class="challenge-explanation">
            <div class="challenge-explanation-title">
                <p><strong>Explanation</strong></p>
            </div>
            <div class="challenge-explanation-body">
                <p>

                </p>
            </div>
        </div>*@

                    </div>
                </section>

                <!--Code Editor-->
                <div class="container code-section">
                    <!--Code Option-->
                    <div class="row code-option">
                        <div class="form-group col-md-4 offset-md-8 language-option">
                            @*<label for="inputState">State</label>*@
                            <select id="inputLanguage" class="form-control">
                                @foreach (var item in Model.languages)
                                {
                                    <option value="@Html.DisplayFor(modelItem => item.Name)">@Html.DisplayFor(modelItem => item.Name)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="code-editor">
                        <div id="editor"></div>
                        <iframe id="result" frameborder="0"></iframe>
                    </div>
                    <div class="code-submit">
                        <button class="btn btn-outline-success btn-lg run-code" onclick="runCode()">Run Code <span><img id="loadingImgRuncode" class="loadingImg" src="~/Assets/Public/images/loading.gif" alt="Alternate Text" /></span></button>
                        <button class="btn btn-success btn-lg submit-code" onclick="submitCode()">Submit Code <span><img id="loadingImgSubmitcode" class="loadingImg" src="~/Assets/Public/images/loading.gif" alt="Alternate Text" /></span></button>
                    </div>
                </div>

                <!--Run Code Result-->
                <div class="container runcode-display d-none">
                    <div class="runcode-body">
                        <div class="runcode-result">
                            <h3 class="result-wrong">Wrong Result :(</h3>
                            <p>1/1 test case failed</p>
                        </div>

                        <div class="runcode-testcase">
                            <div class="row">
                                <div class="col-xl-4 testcase-title">
                                    <ul class="nav nav-pills nav-stacked flex-column"></ul>
                                </div>
                                <div class="col-xl-8 testcase-result">
                                    <div class="tab-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end tabs*@
                    </div>
                    @*end runcode-body*@
                </div>
            </div>

            <!--Right Panel-->
            <div class="right-panel" id="affix-panel" data-toggle="affix">
                <div class="sidebar-difficulty-detail">
                    <div class="difficulty-block">
                        <p class="difficulty-label">Author</p>
                        <a href="#">@Model.OwnerName</a>
                    </div>
                    <div class="difficulty-block">
                        <p class="difficulty-label">Difficulty</p>
                        @switch (Model.challenge.ChallengeDifficulty)
                        {
                            case 0:
                                <p class="difficulty-easy">Easy</p>
                                break;
                            case 1:
                                <p class="difficulty-medium">Medium</p>
                                break;
                            case 2:
                                <p class="difficulty-hard">Hard</p>
                                break;
                            default: break;
                        }
                    </div>
                    <div class="difficulty-block">
                        <p class="difficulty-label">Max Score</p>
                        <p class="difficulty-score">@Model.challenge.Score</p>
                    </div>
                </div>
                @if (ViewBag.competeID != null)
                {
                    <div class="sidebar-difficulty-move-btn">
                        <a class="btn @(ViewBag.Back < 0 ? "disabled" : null)" href="/Compete/@ViewBag.competeID/Challenge/@(ViewBag.Back < 0 ? Model.challenge.ID : ViewBag.Back)/Problem"><i class="fas fa-less-than"></i> Back</a>
                        <a class="btn" href="/Compete/@ViewBag.competeID/Detail">List Challenge</a>
                        <a class="btn @(ViewBag.Next < 0 ? "disabled" : null)" href="/Compete/@ViewBag.competeID/Challenge/@(ViewBag.Next < 0 ? Model.challenge.ID : ViewBag.Next)/Problem">Next <i class="fas fa-greater-than"></i></a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <!--ace editor-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ext-language_tools.js"></script>
    <script>
        $('.loadingImg').hide();

        $(function () {
            var $a = $(".runcode-testcase li");
            $a.click(function () {
                $a.removeClass("active");
                $(this).addClass("active");
            });
        });

    </script>
    <script>
        var target = $('#affix-panel')
        target.after('<div class="affix" id="affix"></div>')

        var affix = $('.affix')
        affix.append(target.clone(true))

        // Show affix on scroll.
        var element = document.getElementById('affix')
        if (element !== null) {
            var position = target.position()
            window.addEventListener('scroll', function () {
                var height = $(window).scrollTop()
                if (height > position.top) {
                    target.css('visibility', 'hidden')
                    affix.css('display', 'block')
                } else {
                    affix.css('display', 'none')
                    target.css('visibility', 'visible')
                }
            })
        }

        //code
        var code_CSharp = `@Html.Raw(HttpUtility.HtmlDecode(Model.CodeStubs_CSharp))`;
        var code_Cpp = `@Html.Raw(HttpUtility.HtmlDecode(Model.CodeStubs_Cpp))`;
        var code_Java = `@Html.Raw(HttpUtility.HtmlDecode(Model.CodeStubs_Java))`;

        function update() {
            var language = $('#inputLanguage').val();
            if (language == "Cpp") {
                code_Cpp = editor.getValue();
            } else if (language == "CSharp") {
                code_CSharp = editor.getValue();
            } else if (language == "Java") {
                code_Java = editor.getValue();
            }
        }

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });

        function loadPage() {
            let language = $('#inputLanguage').val();
            setModeEditor(language);
            editor.getSession().on('change', function () {
                update();
            });
        }

        loadPage();

        //Onclick Change Language
        $('#inputLanguage').on('change', function () {
            let language = this.value;
            setModeEditor(language);
        });

        function setModeEditor(language) {
            if (language == "Cpp") {
                language = "c_cpp";
                editor.setValue(code_Cpp);
            } else if (language == "CSharp") {
                language = "csharp";
                editor.setValue(code_CSharp);
            } else if (language == "Java") {
                editor.setValue(code_Java);
                language = "java";
            }

            editor.session.setMode("ace/mode/" + language);
        }


        challengeID = '@Model.challenge.ID';
        function renderTitleResult(result_array) {
            $('.runcode-result').empty();

            len = result_array.length;
            count_success = 0;
            //render Title
            content = '';
            for (var i = 0; i < len; i++) {
                one_result = result_array[i];
                if (one_result['Status'] == 'success') {
                    count_success++;
                }
            }
            if (count_success == len) {
                content = `<h3 class="result-success">Right Result :)</h3>
                           <p>Let's submit Your code</p>`;
            }
            else {
                content = `<h3 class="result-wrong">Wrong Result :(</h3>
                           <p>${len - count_success}/${len} test case failed</p>`;
            }
            $('.runcode-result').append(content);
        }

        function renderBodyResult(result_array) {
            $('.testcase-title ul').empty();
            $('.tab-content').empty();

            content = '';
            for (var i = 0; i < len; i++) {
                one_result = result_array[i];
                renderOneResult(one_result, i);
            }
        }
        function renderOneResult(result, pos) {
            if (result['Status'] == 'success') {
                tab = `<li class="test-success"><a href="#tab_${pos}" data-toggle="pill">TEST CASE ${pos}</a></li>`;
                content = `<div class="tab-pane active" id="tab_${pos}">
                        <div class="message-compiler">
                            <p>Complier Message</p>
                            <pre><code>Right Answer</code></pre>
                        </div>
                        <div class="message-input">
                            <p>Input (stdin)</p>
                            <pre><code>${result['Input']}</code></pre>
                        </div>
                        <div class="message-youroutput">
                            <p>Your Output (stdout)</p>
                            <pre><code>${result['Output']}</code></pre>
                        </div>
                        <div class="message-output">
                            <p>Expected Output</p>
                            <pre><code>${result['OutputExpect']}</code></pre>
                        </div>
                    </div>`;
            }
            else {
                tab = `<li class="test-fail"><a href="#tab_${pos}" data-toggle="pill">TEST CASE ${pos}</a></li>`;
                content = `<div class="tab-pane" id="tab_${pos}">
                        <div class="message-compiler">
                            <p>Complier Message</p>
                            <pre><code>Wrong Answer</code></pre>
                        </div>
                        <div class="message-input">
                            <p>Input (stdin)</p>
                            <pre><code>${result['Input']}</code></pre>
                        </div>
                        <div class="message-youroutput">
                            <p>Your Output (stdout)</p>
                            <pre><code>${result['Output']}</code></pre>
                        </div>
                        <div class="message-output">
                            <p>Expected Output</p>
                            <pre><code>${result['OutputExpect']}</code></pre>
                        </div>
                    </div>`;
            }

            $('.testcase-title ul').append(tab);
            $('.tab-content').append(content);
        }
        function showResult(result_array) {

            //render Title
            renderTitleResult(result_array);

            //render Body
            renderBodyResult(result_array);


            $('.runcode-display').removeClass('d-none');
            $(".tab-pane").removeClass("active");
            $(".tab-pane").first().addClass("active");

            $('html, body').animate({ scrollTop: $(document).height() }, 'slow');

        }
        function runCode() {
            $('#loadingImgRuncode').show();
            code = editor.getValue();
            language = $('#inputLanguage').val();
            $.ajax({
                method: "POST",
                url: "/Code/RunCode",
                data: {
                    challengeID: challengeID,
                    Code: code,
                    Language: language
                }
            })
                .done(function (msg) {
                    $('#loadingImgRuncode').hide();
                    if (msg) {
                        //console.log(msg);
                        showResult(msg)
                    }

                });
        }

        function submitCode() {
            $('#loadingImgSubmitcode').show();
            code = editor.getValue();
            language = $('#inputLanguage').val();
            $.ajax({
                method: "POST",
                url: "/Code/SubmitCode",
                data: {
                    challengeID: challengeID,
                    Code: code,
                    Language: language
                }
            })
                .done(function (msg) {
                    //console.log(msg);
                    $('#loadingImgSubmitcode').hide();
                    showResult(msg)
                });
        }
    </script>
}


