
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title</title>
    }
    else
    {
        <title>Admin page</title>
    }

    <!-- Bootstrap Core CSS -->
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/Page/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Assets/Page/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Assets/Page/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Assets/Page/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Assets/Page/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Admin dashboard</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right" >
                <!-- /.dropdown -->
                <li class="dropdown">
                    @{
        var session = (COURSE_CODING.Common.InfoLogIn)Session[CommonProject.CommonConstant.SESSION_INFO_LOGIN];
                    }
                    @if (session == null)
    {
                <a class="btn btn-success" style="margin-top:2px!important;margin-right:15px;min-height:unset;padding:10px!important;" href="../../Login">
                 Login
                </a>
}
else
{
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>
                    <i>@session.Name</i>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    @*<li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li class="divider"></li>*@
                    <li><a class="dropdown-item" href="../../Authen/logout">Logout</a></li>
                </ul>

}

                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        @*<li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
             /input-group
        </li>*@
                        <li>
                            <a href="/Admin/Home/Index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>

                        <li>
                            <a href="/Admin/User/index"><i class="fa fa-table fa-fw"></i> Management users</a>
                        </li>
                        <li>
                            <a href="/Admin/Home/ComfirmRequest"><i class="fa fa-wrench fa-fw"></i> Confirm request </a>
                        </li>
                        <li>
                            <a href="/Admin/Home/Contact"><i class="fa fa-edit fa-fw"></i>Contact </a>
                        </li>
                        <li>
                            <a href="/Admin/Home/About"><i class="fa fa-files-o fa-fw"></i>About<span class="fa arrow"></span></a>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="padding-top:10px;">
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                    @TempData["AlertMessage"]
                </div>
            }
            @RenderBody()
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Assets/Page/vendor/jquery/jquery.js"></script>
    @*validate ajax*@

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Assets/Page/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Assets/Page/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    @*<script src="~/Assets/Page/vendor/raphael/raphael.min.js"></script>
        <script src="~/Assets/Page/vendor/morrisjs/morris.min.js"></script>
        <script src="~/Assets/Page/data/morris-data.js"></script>*@
    <script src="~/Assets/Page/vendor/raphael/raphael.min.js"></script>
    <script src="~/Assets/Page/vendor/morrisjs/morris.min.js"></script>
    <script src="~/Assets/Page/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Assets/Page/dist/js/sb-admin-2.js"></script>
    <script src="~/Areas/Admin/Script/Admin_User.js"></script>
</body>

</html>
