@model COURSE_CODING.Areas.Admin.Models.UserModel

@{
                /**/

                ViewBag.Title = "Create";
                Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <div class="">
        <div class="card card-register mx-auto mt-5">
            <h1 class="card-header justify-content-center align-center text-center">Create an Account</h1>
            <div class="card-body">
                @using (Html.BeginForm("Register", "User", FormMethod.Post))
                {
                    @*@Html.AntiForgeryToken()*@

                <div class="form-horizontal">
                    <div>
                        @if (ViewBag.Success != null)
        {<div class="alert alert-success">@ViewBag.Success</div>}
else
{
                <h4>Create now</h4>
}
                    </div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group ">
                        <div class="form-row">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3 align-middle pt-1 float-left" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3 pt-1" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-3 pt-1" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3 pt-1" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.PasswordUser, htmlAttributes: new { @class = "control-label col-md-3 pt-1" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PasswordUser, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PasswordUser, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.ComfirmPasswordUser, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.ComfirmPasswordUser, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ComfirmPasswordUser, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.StatusUser, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.StatusUser, (IEnumerable<SelectListItem>)ViewBag.statusList, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StatusUser, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.RoleUser, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.RoleUser, (IEnumerable<SelectListItem>)ViewBag.roleList, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RoleUser, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.YearGraduation, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.YearGraduation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.YearGraduation, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.About, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.TextAreaFor(model => model.About, 4,81, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">   
                        <div class="form-row">
                            <div class="col-md-3"></div>
                            <div class="col-md-8 offset-5">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-info" })

                            </div>
                        </div>

                    </div>

                </div>
                }
               
            </div>
        </div>
    </div>

}

