<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- bootstrap -->
    @Styles.Render("~/Assets/Public/vendor/bootstrap/css/4.0.0.min.css")
    <!-- font awesome -->
    @*<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">*@
    @Styles.Render("~/Assets/Public/vendor/font-awesome/css/all.min.css")
    <!-- custom css -->
    @Styles.Render("~/Assets/Public/css/navbar.css")

    @RenderSection("CustomCSS", required: false)
</head>
<body>

    <header>
        <div class="navbar-session">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/User/Dashboard"><img src="~/Assets/Public/images/fox.png" class="img-fluid" alt="" runat="server"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/User/Dashboard">PRACTICE <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Compete/Index">COMPETE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">JOBS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">LEADER BOARD</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0 navbar-search-form">
                            <input type="search">
                            <i class="fa fa-search"></i>
                        </form>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="far fa-comment-alt"></i> <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="far fa-bell"></i> <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-user"></i>@{
                                        var session = (COURSE_CODING.Common.InfoLogIn)Session[CommonProject.CommonConstant.SESSION_INFO_LOGIN];
                                    } @if (session != null)
	                                    {
		                                     @session.Name
                                        }
                                        else
                                        {
                                            <span>No name</span>
                                        }
                                </a>
                                <div class="dropdown-menu base-box" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/User/Profile/@session.ID">Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    @if (session.Role == CommonProject.CommonConstant.ROLE_TEACHER)
                                    {
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/Moderator/ManageChallenge">Admintrator</a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/Authen/logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    @RenderBody()

    @Scripts.Render("~/Assets/Public/vendor/jquery/3.3.1.min.js")
    @Scripts.Render("~/Assets/Public/vendor/jquery/popper.1.12.9.min.js")
    @Scripts.Render("~/Assets/Public/vendor/bootstrap/js/4.0.0.min.js")

    @RenderSection("scripts", required: false)
</body>
</html>
