@model COURSE_CODING.Models.CompeteDetailModel

@{
    ViewBag.Title = "Edit Compete";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

@if (ViewBag.CanAccess == false)
{
    <div style="text-align: center;margin: 0 auto; padding: 30px;">
        <h2>You don't have permission to view this page</h2>
        <h2>405!</h2>
    </div>
    return;
}

@section CustomCSS
{
    @Styles.Render("~/Assets/Public/css/create-challenge.css")
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" rel="stylesheet" />
}

<div style="border-bottom: 1px solid #C2C7D0;">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/Moderator/ManageChallenge"><b>Moderator Management</b></a>
                </li>

                <li class="breadcrumb-item active">
                    <a href="#"><b>@Model.Title</b></a>
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <h1 class="title">@Model.Title</h1>
    <nav class="navbar navbar-light bg-light">
        <ul class="nav nav-tabs tabs-bar" style="margin-bottom: 0;">
            <li class="nav-item">
                <a id="js-details" class="nav-link active" href="/Moderator/EditCompete/@Model.ID">Details</a>
            </li>

            <li class="nav-item"><a id="js-challenge" class="nav-link" href="javascript:;">Manage Challenges</a></li>

            <li class="nav-item"><a id="js-question" class="nav-link" href="javascript:;">Manage Questions</a></li>

            @if (Model.isPublic == false)
            {
                <li class="nav-item"><a id="js-participant" class="nav-link" href="javascript:;">Participants</a></li>
            }
            <li class="nav-item"><a id="js-score" class="nav-link" href="javascript:;">Score Board</a></li>
        </ul>
    </nav>

    <br />

    <section class="tab-section">
        @Html.Partial("_CompeteDetail", Model)
    </section>
</div>
<div style="height: 100px;">
</div>

@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Assets/Public/vendor/ckeditor5-build-classic/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.js"></script>
    <script src="~/Assets/Public/js/editCompete.js"></script>
    <script type="text/javascript" id="global-variable">
        var competeID = @Model.ID;
    </script>
}