@model COURSE_CODING.Models.ManageChallengesModel

@{
    ViewBag.Title = "Moderator Dashboard";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}
@section CustomCSS
{
    @Styles.Render("~/Assets/Public/css/manage-challenges.css")
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
}

<div class="container" style="vertical-align: center;">
    <h1 class="title">Moderator Dashboard</h1>
    <nav class="navbar navbar-light bg-light">
        <ul class="nav nav-tabs tabs-bar" style="margin-bottom: 0;">
            <li class="nav-item"><a id="js-mng-contests" class="nav-link" href="#">Manage Contests</a></li>
            <li class="nav-item"><a id="js-mng-challenges" class="nav-link active" href="#">Manage Challenges</a></li>
            <li class="nav-item"><a id="js-statistics" class="nav-link" href="#">Statistics</a></li>
        </ul>

        <form>
            <div class="form-group mr-sm-2">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>

    </nav>


    <div class="mng-contests-modal main-modal" hidden>
        <div class="clearfix">
            <div style="float: left;">
                Contests you can edit are below.
            </div>
            <a class="btn btn-success" href="/Moderator/CreateCompete" style="float: right;">Create Contest</a>
        </div>

        <div id=" 	" class="table-adjustable">
            <div class="table">
                <div class="row table-title no-margin">
                    <div class="col-xs-1 vd-col-xs-30" style="margin-left: 5px;">
                        Contest Name
                    </div>
                    <div class="col-xs-1 vd-col-xs-30 text-center">
                        Contest Slug
                    </div>
                    <div class="col-xs-1 vd-col-xs-15 text-center">
                        End Time
                    </div>
                    <div class="col-xs-1 vd-col-xs-10 text-center">
                        Privacy
                    </div>
                    <div class="col-xs-1 vd-col-xs-15 text-center">
                        Total Score
                    </div>
                </div>
                <div class="table-border table-cs table-body">

                    @if (Model.lsCompetes.Count > 0)
                    {
                        foreach (var compete in Model.lsCompetes)
                        {
                            <a href="/Moderator/EditCompete/@compete.ID">
                                <div class="row table-row no-margin table-cs">
                                    <div class="col-xs-1 vd-col-xs-30" style="margin-left: 5px;">@compete.Title</div>
                                    <div class="col-xs-1 vd-col-xs-30 text-center">@compete.Slug</div>
                                    <div class="col-xs-1 vd-col-xs-15 text-center">@compete.TimeEnd</div>
                                    @if (compete.IsPublic)
                                    {
                                        <div class="col-xs-1 vd-col-xs-10 text-center">Public</div>
                                    }
                                    else
                                    {
                                        <div class="col-xs-1 vd-col-xs-10 text-center">Private</div>
                                    }
                                    <div class="col-xs-1 vd-col-xs-15 text-center">@compete.TotalScore</div>
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        <div id="no-content" class="row table-row no-margin table-cs">
                            <div class="col-sm-12 text-center">
                                You have not created any contests.
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="mng-challenges-modal main-modal">
        <div class="clearfix">
            <div style="float: left;">
                Challenges you can edit are below.
            </div>
            <a class="btn btn-success" href="/Moderator/CreateChallenge" style="float: right;">Create Challenges</a>
        </div>

        <div id="" class="table-adjustable">
            <div class="table">
                <div class="row table-title no-margin">
                    <div class="col-xs-1 vd-col-xs-40" style="margin-left: 5px;">
                        Challenge Name
                    </div>
                    <div class="col-xs-1 vd-col-xs-30 text-center">
                        Challenge Slug
                    </div>
                    <div class="col-xs-1 vd-col-xs-30 text-center">
                        Challenge Owner
                    </div>
                </div>
                <div class="table-border table-cs table-body">
                    @if (Model.lsChallenges.Count > 0)
                    {
                        foreach (var Challenge in Model.lsChallenges)
                        {
                            <a href="/Moderator/Edit/Challenge/@Challenge.ID">
                                <div class="row table-row no-margin table-cs">
                                    <div class="col-xs-1 vd-col-xs-40" style="margin-left: 5px;">@Challenge.Title</div>
                                    <div class="col-xs-1 vd-col-xs-30 text-center">@Challenge.Slug</div>
                                    <div class="col-xs-1 vd-col-xs-30 text-center">@Challenge.USER_INFO.UserName</div>
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        <div id="no-content" class="row table-row no-margin table-cs">
                            <div class="col-sm-12 text-center">
                                You have not created any challenges.
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="statistics-modal main-modal" hidden>
        <div class="clearfix">
            <p>There's nothing here!!</p>
        </div>
    </div>
</div>

@section scripts {
<script>
    $('#js-mng-contests').click(function () {
        $(this).addClass('active');
        $('#js-mng-challenges').removeClass('active');
        $('#js-statistics').removeClass('active');

        $('.mng-contests-modal').removeAttr('hidden');
        $('.mng-challenges-modal').attr('hidden', '');
        $('.statistics-modal').attr('hidden', '');
    });

    $('#js-mng-challenges').click(function () {
        $(this).addClass('active');
        $('#js-mng-contests').removeClass('active');
        $('#js-statistics').removeClass('active');

        $('.mng-challenges-modal').removeAttr('hidden');
        $('.mng-contests-modal').attr('hidden', '');
        $('.statistics-modal').attr('hidden', '');
    });
</script>
}