@model COURSE_CODING.Models.ResetModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    @Styles.Render("~/Content/cssRegister")
</head>
<body class="bgForm">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <h3 class="card-header">Reset Password</h3>
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4>Forgot your password?</h4>
                    <p>Enter your email address and we will send you instructions on how to reset your password.</p>
                </div>
                    @using (Html.BeginForm("ForgotPassword", "Authen", FormMethod.Post))
    {
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group mb-5">
                        <div class="form-row">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 pt-1", @style = "text-align:left" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-5">
                        <div class="form-row">
                            <div class="col-md-12">
                                <input type="submit" value="Reset Password" class="btn btn-lg btn-success btn-block" />
                            </div>

                        </div>
                    </div>

                </div>
}
                <div class="text-center">
                    <a class="d-block small mt-3" href="../Register">Register</a>
                    <a class="d-block small" href="../login">Login</a>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>

