@model COURSE_CODING.Models.RegisterModel
@using BotDetect.Web.Mvc
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />
@{
    Layout = null;
}
@{ MvcCaptcha registerCaptcha = new MvcCaptcha("registerCaptcha"); }
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <!-- Bootstrap core CSS-->
    <link href="/Assets/Page/vendor/bootstrap/css/bootstrap.min1.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/Assets/Page/dist/css/sb-admin.css" rel="stylesheet">
    
</head>
<body class="bgForm">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <h1 class="card-header justify-content-center align-center text-center">Register an Account</h1>
            <div class="card-body">
                @using (Html.BeginForm("Register", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div>
                        @if (ViewBag.Success != null)
        {<div class="alert alert-success">@ViewBag.Success</div>}
else
{
                @*<h4>Register now</h4>*@
}
                    </div>
                    @*<hr />*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group ">
                        <div class="form-row">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3 align-middle pt-1" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3 pt-1" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-3 pt-1" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3 pt-1" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.PasswordUser, htmlAttributes: new { @class = "control-label col-md-3 pt-1" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.PasswordUser, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PasswordUser, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @Html.LabelFor(model => model.ComfirmPasswordUser, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ComfirmPasswordUser, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ComfirmPasswordUser, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-3 pt-1">
                                
                            </div>

                            <div class="col-md-9">
                                @Html.Captcha(registerCaptcha)
                            </div>
                           
                        </div>
                        <div class="form-row mt-2">
                            <div class="col-md-3 pt-1">
                                <label>Fill captcha</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("CaptchaCode")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12 offset-5">
                                <input type="submit" value="Register" class="btn btn-success" />
                            </div>
                        </div>

                    </div>

                </div>
                }
                @*<div class="text-center">
                    @Html.ActionLink("forgot-password", "ChangePassword")
                </div>*@
            </div>
        </div>
    </div>

</body>
</html>
